.top-bar-navigation {
  flex-grow: 1;
  .menu-toolbar {
    min-height: 64px;
    align-items: center;
  }
  .menu-button {
    margin-left: -12px;
    margin-right: 20px;
  }
  .grow {
    flex-grow: 1;
  }
  .menu-items {
    min-height: 64px;
    width: 100%;
    h6 {
      font-size: 14px;
      height: 64px;
      a {
        padding: 0 20px;
        display: flex;
        align-items: center;
        height: 64px;
        color: white;
        text-decoration: none;
      }
    }
    #list-menu {
      a {
        padding: 0;
        height: 32px;
      }
    }
  }
}
.drop-down-menu {
  ul {
    a {
      color: black;
      text-decoration: none;
    }
  }
}