.top-bar-navigation {
  flex-grow: 1;
  .menu-toolbar {
    min-height: 64px;
    align-items: center;
  }
  .menu-button {
    margin-left: -12px;
    margin-right: 20px;
  }
  .grow {
    flex-grow: 1;
  }
  .menu-items {
    min-height: 64px;
    h6 {
      height: 64px;
      a {
        padding: 0 20px;
        display: flex;
        align-items: center;
        height: 64px;
        color: white;
        text-decoration: none;
        &:hover {
          background: rgba(30, 30, 0, .8);
        }
      }
    }
  }
}
.drop-down-menu {
  ul {
    a {
      color: black;
      text-decoration: none;
    }
  }
}